SQL_CENTRAL_HOST=
SQL_CENTRAL_USER=
SQL_CENTRAL_PASS=
SQL_CENTRAL_DB=

SQL_DANANG_HOST=
SQL_DANANG_USER=
SQL_DANANG_PASS=
SQL_DANANG_DB=

SQL_HANOI_HOST=
SQL_HANOI_USER=
SQL_HANOI_PASS=
SQL_HANOI_DB=

SQL_HCM_HOST=
SQL_HCM_USER=
SQL_HCM_PASS=
SQL_HCM_DB=

MONGO_URL=

JWT_SECRET=

EMAIL_USER=
EMAIL_PASS=

DB_PORT=
PORT=

VNP_TMNCODE=
VNP_HASHSECRET=

RESEND_API_KEY=
